{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Екзамени{% endblock meta_title %}
{% block title %}Додавання екзаменів{% endblock title %}
{% block status_message %}
{% if errors %}
<div class="alert alert-warning" role="alert">
Будь-ласка, виправте наступні помилки
</div>
{% endif %}
{% endblock status_message %}
{% block content %}
<form action="{% url "exam_add" %}" method="post"
enctype="multipart/form-data" role="form" class="form-horizontal">
{% csrf_token %}
<div class="form-group {% if errors.title %}has-error{% endif%}">
<label for="title" class="col-sm-2 control-label">Ім'я*</label>
<div class="col-sm-10">
<input type="text" value="{{ request.POST.title }}"
name="title" id="title" class="form-control" />
<span class="help-block">{{ errors.title }}</span>
</div>
</div>



  

<div class="form-group {% if errors.student_group_id %}has-error{% endif%}">
<label for="student_group_id" class="col-sm-2 control-label">Група*</label>
<div class="col-sm-10">
<select name="group" id="group" 
class="form-control">
<option value="">Виберіть групу</option>
{% for group in groups %}
<option value="{{ group.id }}" {% if group.id == request.POST.group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>
{% endfor %}
</select>
<span class="help-block">{{ errors.group }}</span>
</div>
</div>

<div class="form-group {% if errors.date %}has-error{% endif%}">
<label for="date" class="col-sm-2 control-label">Дата проведення*</label>
<div class="col-sm-10">
<input type="text" class="dateinput form-control" value="{{ request.POST.date }}"
name="date" id="date" class="form-control"
placeholder="Напр. 1984-12-30" />
<span class="help-block">{{ errors.date }}</span>
</div>
</div>


<div class="form-group">
<label class="col-sm-2 control-label"></label>
<div class="col-sm-10">
<input type="submit" value="Додати" name="add_button"
class="btn btn-primary" />
<button type="submit" name="cancel_button"
class="btn btn-link">Скасувати</button>
</div>
</div>
</form>
Поля, позначені  зірочкою,  обовязкові  для  заповнення!
{% endblock content %}
